<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') -%>
<body class="bg-light">
  <style>
    .is-hidden{
      display: none;
    }

    table th ,td{
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid gainsboro;
    }
  </style>
    <%- include('../partials/nav.ejs') -%>
    <script src="js/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="css/jquery-editable-select.css">
    <script src="js/jquery-editable-select.js"></script>

    <div class="container">
        <div class="row">
           <div class="d-flex justify-content-between align-items-center">
             <h3 class="p-3 mx-3 fw-bold">Orders</h3>
              <h3 class="text-dark bg-primary text-white p-3 fw-bold rounded-4">Total:  &#8369;<%= totalAmount %></h6>
           </div>
        </div>

        <div class="row">
            <div class="col-lg-8" style="max-height: 480px; overflow-y: auto;" >
                <div class="card">
                   <div class="d-flex justify-content-between align-items-center p-3">
                     <div class="d-flex flex-column">
                        <h6 class="m-0">Products</h6>
                        <p class="m-0" style="font-size: 10px;">No. of products <span><%= products.length %></span></p>
                     </div>
                    <input type="text" class="form-control w-25" placeholder="search.." onkeyup="search(this.value)">
                   </div>
                    <div class="row p-2" id="product-row">
                       <% products.forEach((item) => { %>
                        <div class="col-lg-4 mb-2 col-md-6 product" data-name="<%= item.product_name %>">
                            <div class="card bg-light h-100">
                                <div class="card-header h-100">
                                    <h6 class="m-0 text-capitalize fw-bold"><%= item.product_name %></h6>
                                    <div class="d-flex justify-content-between">
                                        <p class="m-0 text-capitalize text-success" style="font-size:12px ;"><%= item.product_category%></p>
                                        <p class="m-0 text-capitalize" style="font-size:12px ;">Stock :<span class="text-muted fw-bold"> <%= item.stock%></span></p>
                                    </div>
                                </div>
                                <div class="card-body bg-white shadow-sm h-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="fw-bold text-secondary"> &#8369; <%= item.retail_price%></h4>
                                         <button class="btn btn-primary btn-sm add-to-order"
                                         data-product_id="<%= item._id%>"
                                         data-product_name="<%= item.product_name %>"
                                         data-stock="<%= item.stock %>"
                                         data-product_price="<%= item.retail_price %>"
                                         data-category="<%= item.product_category %>"
                                         data-supplier_id="<%= item.supplier_id %>"
                                         >Add to order</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <% }) %>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-between">
              
                <div class="card"  style="max-height: 380px; overflow-y: auto; overflow-x: hidden;" >
               <div class="d-flex justify-content-between align-items-center p-3">
                     <div class="d-flex flex-column">
                        <h6 class="m-0">Ordes</h6>
                        <p class="m-0" style="font-size: 10px;">No. of orders <span><%= orders.length %></span></p>
                     </div>
                    <input type="text" class="form-control w-50" placeholder="search.." onkeyup="search_order(this.value)">
                   </div>

                   <div class="row p-3" id="product-row">
                      <table class="">
                          <tr>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Sub total</th>
                            <th>Action</th>
                          </tr>
                          <% orders.forEach((order) => { %>
                          <tr class="order" data-name="<%= order.product %>">
                            <td class="fw-bold text-capitalize" style="font-size: 12px;"><%= order.product %> </td>
                            <td style="font-size: 12px;"><%= order.quantity %> </td>
                            <td style="font-size: 12px;"><%= order.amount %> </td>
                            <td> <a class="btn btn-danger btn-sm" href="/order/destroy/<%= order.id %>">void</a> </td>
                          </tr>
                          <% }) %>

                       
                   
                      </table>
                          <% if(!orders.length) { %>
                              <p class="p-3">There is no items in orders</p>
                          <%}%>
                   </div>
                  
                </div>
                <div class=" mt-2">
                  <form id="releaseForm">
                    <div class="mb-2">
                     <div class="d-flex justify-content-between align-items-center">
                       <label for="" style="font-size: 10px;">Select customer <span class="text-danger fs-6">*</span></label>
                      <div class="customer text-error text-danger"></div>
                     </div>
                      <select class="editable-select form-select m-0" id="customer_name">
                        <option value="">Choose one</option>
                        <% customers.forEach((customer) => { %>
                            <option value="<%= customer.id %>" class="text-capitalize"><%= customer.name %></option>
                        <% }) %>
                        
                      </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg text-white w-100 <%= orders.length ? '': 'disabled' %>" >Submit Order</button>
                  </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/order-modal.ejs') -%>

    <%- include('../partials/modal.ejs') -%>
    <%- include('../partials/footer.ejs') -%>
</body>

<script>



   function search(value){
    const product = document.querySelectorAll('.product')
    
    for (let i = 0; i < product.length; i++) {
      // console.log(customer[i].dataset.name)
      if(product[i].dataset.name.includes(value.toLowerCase())){
        product[i].classList.remove('is-hidden')
      }else{
        product[i].classList.add('is-hidden')
      }
    }
  }

  function search_order(value){
    const order = document.querySelectorAll('.order')
    
    for (let i = 0; i < order.length; i++) {
      // console.log(customer[i].dataset.name)
      if(order[i].dataset.name.includes(value.toLowerCase())){
        order[i].classList.remove('is-hidden')
      }else{
        order[i].classList.add('is-hidden')
      }
    }
  }

 

  $('#product-row .product').on('click','.add-to-order', function(e){

        // display values
        $('#product-name').text(this.dataset.product_name)
        $('#product-category').text(this.dataset.category)
        $('#product-retail_price').text('\u20B1 '+ this.dataset.product_price)
        $('#product-retail_price').attr('data-retail_price', this.dataset.product_price)

        $('#stock').attr('data-stock', this.dataset.stock)
        $('#stock').text('Remaining stock :' + this.dataset.stock)

        // forms
        $('#product_id').val(this.dataset.product_id)
        $('#product').val(this.dataset.product_name)
        $('#category').val(this.dataset.category)
        $('#supplier_id').val(this.dataset.supplier_id)


        $('#order-modal').modal('show')
  })

  const releaseForm = document.querySelector('#releaseForm')

  let customer_id = ''

    $('#customer_name')
          .editableSelect({effects: 'slide'})
            .on('select.editable-select', function(e, li) {
             customer_id = li.attr('value')
          })

    releaseForm.addEventListener('submit', async (e) => {

        e.preventDefault()

        const customerError = document.querySelector('.customer.text-error')
        customerError.textContent = ''
        console.log(customer_id)
        try {
            const res = await fetch('/release/store',{
                method: 'POST',
                body: JSON.stringify({customer_id}),
                headers: { 'Content-type': 'application/json' }
            })

            const data = await res.json()
            if(data.release){

                msgAlert('System message','Transation ended!')

                setTimeout(()=> {
                  location.assign('/order')
                }, 1200)
            }
            if(data.errors){
                customerError.textContent = data.errors.customer_name
            }

        } catch (error) {
            console.log(error)
        }
    })
</script>
</html>