<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') -%>
<body class="bg-light">
  <style>
    .is-hidden{
      display: none;
    }

    table th ,td{
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid gainsboro;

    }
    .item-list li {
        font-size: 12px;
    }
    .p-12 {
        font-size: 12px;
    }
  </style>
    <%- include('../partials/nav.ejs') -%>

    <div class="container">
        <div class="row">
           <div class="d-flex justify-content-between align-items-center">
             <h3 class="p-3 mx-3 fw-bold">Profile</h3>
           </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card">
                    <div class="row p-3">
                        <form id="form">
                          <div class="colg-lg-12 mb-3">
                                <div class="name text-start text-error"></div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control text-capitalize" value="<%= user.name %>"  placeholder="name" name="name">
                                    <label for="">Name</label>
                                </div>
                          </div>


                          <div class="colg-lg-12 mb-3">
                                <div class="old_password text-start text-error"></div>
                                <div class="form-floating mb-2">
                                    <input type="password" class="form-control"  placeholder="password" name="old_password">
                                    <label for="">Old password</label>
                                </div>
                          </div>
                          <hr>

                            <div class="colg-lg-12 mb-3">
                                <div class="password text-start text-error"></div>
                                <div class="form-floating mb-2">
                                    <input type="password" class="form-control"  placeholder="password" name="password">
                                    <label for="">New password</label>
                            </div>

                            <div class="colg-lg-12 mb-3">
                                <div class="password text-start text-error"></div>
                                <div class="form-floating mb-2">
                                    <input type="password" class="form-control"  placeholder="password" name="confirmed_password">
                                    <label for="">Confirm password</label>
                            </div>

                          </div>



                          <div class="col-lg-12">
                            <button class="btn btn-primary text-white">Save changes</button>
                          </div>
                      </form>
                    </div>
                </div>
                
            </div>
        </div>
       
    </div>

    <%- include('../partials/modal.ejs') -%>
    <%- include('../partials/footer.ejs') -%>
</body>

<script>

    const form = document.querySelector('#form')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const nameError = document.querySelector('.name.text-error')
        const oldpasswordError = document.querySelector('.old_password.text-error')
        const passwordError = document.querySelector('.password.text-error')

        nameError.textContent = ''
        oldpasswordError.textContent = ''
        passwordError.textContent = ''

        const name = form.name.value
        const old_password = form.old_password.value
        const password = form.password.value
        const confirmed_password = form.confirmed_password.value

        Array.from(form.elements).forEach(el => el.disabled = true)
        
        try {
            const res = await fetch('/change-password/<%= user.id %>',{
                method: 'POST',
                body: JSON.stringify({name, old_password, password, confirmed_password}),
                headers: { 'Content-type': 'application/json' }
            })

            const data = await res.json()
            Array.from(form.elements).forEach(el => el.disabled = false)

            if(data.success){
                msgAlert('System message', 'Changes has been saved!')
            }
            if(data.errors){
                nameError.textContent = data.errors.name
                oldpasswordError.textContent = data.errors.old_password
                passwordError.textContent = data.errors.password
            }

        } catch (error) {
            console.log(error)
        }
    })
    
</script>
</html>