<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') -%>
<body class="bg-light">
  <style>
    .is-hidden{
      display: none;
    }

    table th ,td{
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid gainsboro;

    }
    .item-list li {
        font-size: 12px;
    }
    .p-12 {
        font-size: 12px;
    }
  </style>
    <%- include('../partials/nav.ejs') -%>
    <script src="js/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="css/jquery-editable-select.css">
    <script src="/js/jquery-editable-select.js"></script>

    <div class="container">
        <div class="row">
           <div class="d-flex justify-content-between align-items-center">
             <h3 class="p-3 mx-3 fw-bold">Release Orders</h3>
           </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class=" w-100">
                    <tr>
                        <th>Release ID</th>
                        <th>Customer name</th>
                        <th>No. of Items</th>
                        <th>Status</th>
                        <th>Total Amount</th>
                        <th>Action</th>
                        <th>Order At</th>
                        <th>Released At</th>
                    </tr>
                    
                    <% releases.forEach((release)=> { %>
                    <tr>
                        <td class="fw-bold text-uppercase"><%= release.id %></td>
                        <td class="text-info text-capitalize"><%= release.customer_name %></td>
                        <td><%= release.no_of_items %></td>
                        <td><% if(release.status == 0) {%>
                          <div class="d-flex justify-content-between align-items-center">
                              <span class="badge bg-warning">pending</span>
                          </div>
                        <% } else {%>
                        <span class="badge bg-success">released</span>
                        <%}%>
                        </td>
                        <td> &#8369; <%= parseFloat(release.total_amount).toFixed(2) %></td>
                        <td>
                         <% if(release.status === 0) { %>
                          <div class="d-flex">
                            <a href="/release/update/<%= release.id %>" class="btn btn-info text-white btn-sm mx-1">release</a>
                            <a href="/release/destroy/<%= release.id %>" class="btn btn-danger text-white btn-sm">cancel</a>
                          </div>
                         <% } else { %>
                             <button data-link="/release/show/<%= release.id %>" class="print btn btn-primary text-white btn-sm">print</button=>
                         <% } %>
                        </td>
                        <% var orderdate = new Date(Date.parse(release.createdAt))  %>
                        <td style="font-size: 12px;"> <%= orderdate.toLocaleDateString() %></td>
                         <td style="font-size: 12px;"> <%= release.releasedAt === null? '--': release.releasedAt %></td>
                    </tr>
                    <% }) %>
                </table>
            </div>
        </div>
       
    </div>

    <%- include('../partials/modal.ejs') -%>
    <%- include('../partials/footer.ejs') -%>
</body>
  <script>
    $('table tr').on('click', '.print', function(e){
        window.open($(this)[0].dataset.link)
    })
  </script>

</html>